{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}      
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for article in articles %}
                    <div class="col">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">{{article.nom}}</text></svg>

                            <div class="card-body">
                            <p class="card-text">{{article.contenu}}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary"><a href={{path('affiche_article', {id:article.id})}}>View</a></button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary"><a href={{path('supprime_article', {id:article.id})}}>Suppr</a></button>
                                </div>
                                <small class="text-muted">{{article.dateDeCreation|date("m/d/Y")}}</small>
                            </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
    </div>
   </div>  
{% endblock %}
