<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            <!-- CSS only -->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
            <link href="{{asset('css/app.css')}}" rel="stylesheet"> 
        {% endblock %}

        {% block javascripts %}         
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
    <div class="container">
            <header class="d-flex justify-content-center py-3">
                <ul class="nav nav-pills">
                    <li class="nav-item"><a href={{path('home')}} class="nav-link">Home</a></li>
                    <li class="nav-item"><a href={{path('affiche_categorie')}} class="nav-link">Categories</a></li>
                    <li class="nav-item"><a href={{path('nouveau_article')}} class="nav-link">Ajouter une article</a></li>
                </ul>
            </header>
        </div>
        {% block body %}{% endblock %}
    </body>
</html>
