{% extends 'base.html.twig' %}

{% block title %}Detail article{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h2>{{ article.nom}}</h2>
    <h2>{{ article.contenu}}</h2>
    <h2>{{ article.votes}}</h2>
    <h2>{{ article.dateDeCreation|date("m/d/Y")}}</h2>
    <h2>{{ article.categorie.nom}}</h2>
</div>
{% endblock %}